main {
    font-family: Montserrat, 'Trebuchet MS', 'Lucida Sans', sans-serif;
    min-height: 600px;
}

.color-nav{
    background-color: #ece136;
}

.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(235, 14, 84, 0.8);
  }